[Desktop Entry]
Encoding=UTF-8
Version=1.2
Type=Application
Terminal=true
Exec=pynstall
Name=Pynstall
Comment=Easy to use Python-APT manager.
Icon=/usr/share/python1.svg
